## mako

<%page expression_filter="h"/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
%>
<%inherit file="../main.html" />

<%block name="pagetitle">
    % if suscribed is True:
        ${"Suscribir Correo"}
    % else:
        ${"Desuscribir Correo"}
    % endif
</%block>

<main id="main" aria-label="Content" tabindex="-1" class="static_pages">
    % if staff is True:
    <div class="row">
        <div class="col-md-4">       
            <a href="${reverse('edxnewsletters-data:email')}">
                <button style="text-shadow: none; border-color:white; background-color: #0075b4; background-image: none; display:block;" >Exportar Correos</button>
            </a>
        </div>
    </div>
    % endif
% if suscribed is True:
<% aux = "Suscribir" %>
% else:
<% aux = "Desuscribir" %>
% endif
<h1>${aux} Correo</h1>
    <div style="text-align: center">
        <form method="POST">
           <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>
           % if context.get('saved', UNDEFINED) == 'saved':
                % if context.get('email_modify', UNDEFINED) is not UNDEFINED:
                    % if email_modify != "":
                        <b><p style="color:rgb(56, 181, 197); margin-bottom: 15px;">
                            Correos 
                            % if suscribed is True:
                                Suscritos 
                            % else:
                                Desuscritos 
                            % endif
                        Correctamente.</p></b>
                        <p style="color:rgb(56, 181, 197); margin-bottom: 15px;">
                            <% 
                                email_modify_aux = email_modify.split('/')
                            %>
                            <span id="email_modify">
                                %for mail in email_modify_aux:
                                    ${mail}</br>
                                %endfor
                            </span>
                        </p>
                    % endif
                % endif
                % if context.get('email_not_found', UNDEFINED) is not UNDEFINED:
                    % if email_not_found != "" and staff is True:
                        <b><p style="color:firebrick; margin-bottom: 15px;"> Correos no encontrados.</p></b>
                        <p style="color:firebrick; margin-bottom: 15px;">
                            <% 
                                email_not_found_aux = email_not_found.split('/')
                            %>
                            <span id="email_not_found">
                                %for mail in email_not_found_aux:
                                    ${mail}</br>
                                %endfor
                            </span>
                        </p>
                    % endif
                % endif
            % endif
            % if context.get('email_malos', UNDEFINED) is not UNDEFINED:
                <p id="email_malos" style="color:firebrick; margin-bottom: 15px;">Estos Emails están incorrectos: ${email_malos}.</p>
            % endif
            % if context.get('no_email', UNDEFINED) is not UNDEFINED:
                <p id="no_email" style="color:firebrick; margin-bottom: 15px;">Falta agregar email.</p>
            % endif
            <div class="form-group" style="margin: 15px 15px;">
                % if staff is True:
                    <label for="emails" style="line-height: 33px; text-align: right; clear: both; margin-right: 15px; font-style: normal; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">Correo(s):</label>
                    <textarea style="min-width: 400px; font-style: normal; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif" type="text" name='emails' id="emails" placeholder="correo@mail.com&#10;correo@mail.com">${emails}</textarea>                    
                % else:
                    <label for="emails" style="line-height: 33px; text-align: right; clear: both; margin-right: 15px; font-style: normal; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">Confirmar Correo:</label>
                    <input style="min-width: 400px; font-style: normal; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;margin-right: 13px;" type="text" name='emails' id="emails"  placeholder="correo@mail.com" value="${emails}"></input>
                % endif
            </div>
            % if staff is True:
            <div class="form-group" style="margin: 15px 15px;">
                <b><span for="emails" style="font-style: normal; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">Maximo 50 correos</span></b>
            </div>
            % endif
            <input type="submit" style="text-shadow: none; border-color:white; background-color: #0075b4; background-image: none; display:block; margin: auto" value="${aux}">
        </form>
    </div>
</main>