## mako

<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">
    % if suscribed is True:
        ${"Suscribir Correos"}
    % else:
        ${"Desuscribir Correos"}
    % endif
</%block>

<main id="main" aria-label="Content" tabindex="-1" class="static_pages">
    <div class="row">
        <div class="col-md-4">       
            <a href="emails/">
                <button style="text-shadow: none; border-color:white; background-color: #0075b4; background-image: none; display:block;" >Exportar Correos</button>
            </a>
        </div>
    </div>
% if suscribed is True:
<h1>Suscribir Correos</h1>
% else:
<h1>Desuscribir Correos</h1>
% endif
    <div style="text-align: center">
        <form method="POST">
           <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>
           % if context.get('saved', UNDEFINED) == 'saved':
                <b><p style="color:rgb(56, 181, 197); margin-bottom: 15px;">
                    Correos 
                    % if suscribed is True:
                        Suscritos 
                    % else:
                        Desuscritos 
                    % endif
                Correctamente.</p></b>
                % if context.get('email_suscribed', UNDEFINED) is not UNDEFINED:
                    % if email_suscribed != "":
                        <p style="color:rgb(56, 181, 197); margin-bottom: 15px;">
                            <% 
                                email_suscribed_aux = email_suscribed.split('-')
                            %>
                            <span id="email_suscribed">
                                %for mail in email_suscribed_aux:
                                    ${mail}</br>
                                %endfor
                            </span>
                        </p>
                    % endif
                % endif
            % endif
            % if context.get('email_malos', UNDEFINED) is not UNDEFINED:
                <p id="email_malos" style="color:firebrick; margin-bottom: 15px;">Estos Emails están incorrectos: ${email_malos}.</p>
            % endif
            % if context.get('no_email', UNDEFINED) is not UNDEFINED:
                <p id="no_email" style="color:firebrick; margin-bottom: 15px;">Falta agregar email.</p>
            % endif
            <div class="form-group" style="margin: 15px 15px;">
                <label for="emails" style="line-height: 33px; text-align: right; clear: both; margin-right: 15px; font-style: normal; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">Email(s):</label>

                % if context.get('emails', UNDEFINED) is not UNDEFINED:
                    <textarea style="min-width: 400px; font-style: normal; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif" type="text" name='emails' id="emails" placeholder="asd@cd.ef&#10;asd@cd.ef">${emails}</textarea>                    
                % else:
                    <textarea style="min-width: 400px; font-style: normal; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif" type="text" name='emails' id="emails" placeholder="asd@cd.ef&#10;asd@cd.ef"></textarea>
                % endif
            </div>
            <input type="submit" style="text-shadow: none; border-color:white; background-color: #0075b4; background-image: none; display:block; margin: auto" value="Enviar">
        </form>
    </div>
</main>